body {
    /*font-family: 'Kodchasan', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}
.container-header h1 {
    font-family: 'Charmonman', cursive;
}
.container-header h1 a:hover {
    text-decoration: none;
}
textarea, div.codehilite, pre {
    font-family: 'Inconsolata', monospace;
}
.no-wrap {
    white-space: nowrap;
}

body img {
    max-width: 100%;
}