<!doctype html>
<html lang="{{ LANG }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% assets 'css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
    {% endassets %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Charmonman:400,700|Kodchasan:400,500,600,700|Inconsolata:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

    <title>{{ WIKI_TITLE }}{% if title %} - {{ title }}{% endif %}</title>
  </head>
  <body>
    <div class="container container-header">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div style="padding: 40px">
                <h1>
                    <a href="/">
                    {{ WIKI_TITLE }}
                    </a>
                </h1>
                <p>
                    {{ WIKI_SUBTITLE }}
                </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="padding-bottom: 25px">
                <a href="/">index</a> | 
                <a href="/_pages">pages</a> |
                <a href="/_tags">tags</a> | 
                <a href="/_files">files</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p style="padding: 25px">
                build with <a href="http://flask.pocoo.org/">flask</a> and <i class="fa fa-heart"></i> by <a href="http://www.blawatt.de">jblawatt</a>
                </p>
            </div>
        </div>
    </div>

    {% assets 'js' %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    
  </body>
</html>
